<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

# Load and clean the data (or determine the best method to drop observations when running tests)

In [0]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

In [107]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data', header=None, na_values='?')
df.head()

           0    1  2  3    4    5  6  7  8  9  10   11   12 13 14 15   16
0  republican    n  y  n    y    y  y  n  n  n  y  NaN    y  y  y  n    y
1  republican    n  y  n    y    y  y  n  n  n  n    n    y  y  y  n  NaN
2    democrat  NaN  y  y  NaN    y  y  n  n  n  n    y    n  y  y  n    n
3    democrat    n  y  y    n  NaN  y  n  n  n  n    y    n  y  n  n    y
4    democrat    y  y  y    n    y  y  n  n  n  n    y  NaN  y  y  y    y

In [108]:
df.columns = ['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa']
df.head()

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n          NaN
2    democrat                 NaN             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [109]:
df = df.replace({'y':1, 'n':0})
df.head(10)

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0
5    democrat                  0.0  ...        1.0           1.0
6    democrat                  0.0  ...        1.0           1.0
7  republican                  0.0  ...        NaN           1.0
8  republican                  0.0  ...        0.0           1.0
9    democrat                  1.0  ...        NaN           NaN

[10 rows x 17 columns]

In [0]:
rep = df[df['party'] == 'republican']
dems = df[df['party'] == 'democrat']

# Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01#

In [147]:
# democrats have much higher percentage support for education

print(dems['budget'].sum()/len(dems))
print(reps['budget'].sum()/len(reps))

0.8651685393258427
0.13095238095238096

In [143]:
0.8651685393258427 + 0.13095238095238096

0.9961209202782236

In [126]:
# perform independent ttest

ttest_ind(dems['budget'], reps['budget'], nan_policy='omit')

Ttest_indResult(statistic=23.21277691701378, pvalue=2.0703402795404463e-77)

In [150]:
# check the pvalue

ttest_ind(dems['budget'], reps['budget'], nan_policy='omit').pvalue <  0.01

True

# Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01

In [145]:
# republicans have much higher percentage support for crime

print(dems['crime'].sum()/len(dems['crime']))
print(reps['crime'].sum()/len(reps['crime']))

0.33707865168539325
0.9404761904761905

In [133]:
# perform independent ttest

ttest_ind(dems['crime'], reps['crime'], nan_policy='omit')

Ttest_indResult(statistic=-16.342085656197696, pvalue=9.952342705606092e-47)

In [149]:
# check the pvalue

ttest_ind(dems['budget'], reps['budget'], nan_policy='omit').pvalue < 0.01

True

# Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

In [166]:
# democrats and republicans have approximately equal support for education

# republicans have much higher percentage support for crime

print(dems['water-project'].sum()/len(dems['immigration']))
print(reps['water-project'].sum()/len(reps['immigration']))

0.449438202247191
0.44642857142857145

In [167]:
# perform independent ttest

ttest_ind(dems['water-project'], reps['water-project'], nan_policy='omit')

Ttest_indResult(statistic=-0.08896538137868286, pvalue=0.9291556823993485)

In [165]:
# check the pvalue

ttest_ind(dems['water-project'], reps['water-project'], nan_policy='omit').pvalue > 0.1

True

Note: I use water projects, which was used in the lecture, but it was the only example I could find with a pvalue > 0.1